@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* 
font-family: 'Poppins', sans-serif; 
*/

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #101e38;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(152, 22, 245);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(212, 176, 238);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color: #fff;
    --main-color:#0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right,rgb(28, 28, 31),rgb(54, 13, 137),rgb(149, 92, 92));
    color: #fff; 
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 38px;
    color: var(--text-color);
    font-weight:600;
    margin-left:75px;
    cursor: default;
    
}

.navbar a {
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 75px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
} 
 

.home{
    position: relative;
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;    
}

.search{    
    position: absolute;
    top: 110px;
    left:400px;
}

.home-img img {
    height: 620px;
    width: 620px;
    margin-right: -110px;
}


.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h3 :nth-of-type(2){
    margin-bottom: 20px;
}
 
.home-content h3 span{
    color: #0ef;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: 3px 0;
}

.home-content p {
    font-size: 16px;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 22px;
    color: var(--main-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
} 

.social-media a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--main-color);
}
                         

.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: none;
    font-weight: 600;
    text-decoration: none;
}

.btn:hover{
    box-shadow: none;
} 


.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top right,rgb(28, 28, 31),rgb(54, 13, 137),rgb(149, 92, 92));
    color: #fff; 
}

.about-img {
    width: 35vw;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.4;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;   
}

.about-content p span{
    color: #0ef;
}

.services{
    background-image: linear-gradient(to bottom right,rgb(28, 28, 31),rgb(54, 13, 137),rgb(149, 92, 92));
}

.services h2{
    margin-bottom: 5rem;
}


.services-continer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.services-continer .service-box{
    flex: 1 1 30rem;
    background-color: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    margin: 2rem;
    border-radius: 2rem;
    text-align: center;
    border: 2px solid blue;
    box-shadow: 0 0 10px #0ef;
    transition: .5s ease;
}

.services-continer .service-box:hover {
    border-color: var(--main-color);
    transform: scale(1.06);
}

.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.service-box h3 {
    font-size: 2.6rem;
}


.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem ;
}



.portfolio {
    background-image: linear-gradient(to top right,rgb(28, 28, 31),rgb(54, 13, 137),rgb(149, 92, 92));
    color: #fff;
    padding: 5rem 9% 2rem;
    height:80vh;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    align-items: center;
    gap: 2.5rem;
    height:70vh;
}

.portfolio-container .portfolio-box {
    
    position: relative; 
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    width: 100%;                                          
    height: 100%;
}

.portfolio-box img {
    width:100%; 
    transition: .5s ease;
}


.portfolio-box:hover img{
    transform:scale(1.1)
}
 
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}


.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}


.contact{
    background-image: linear-gradient(to bottom right,rgb(28, 28, 31),rgb(54, 13, 137),rgb(149, 92, 92));
}


.contact form{
    max-width: 50rem;
    margin:auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display:inline-block;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.contact form .input-box input,
.contact form textarea {
    background:var(--second-bg-color);
    border-bottom:1px solid gray;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: 20px;
    margin: .7rem 0;
    color: white;
}

.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: var(--second-bg-color);
    border-radius: 20px;
    margin: .5rem 0;
    color: whitesmoke;
}


.footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}




.footer-text p{
    position: relative;
    top: auto;
    right: -44rem;
    font-size: 1.6rem;
}


.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-image: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
    border-radius: 50px;
    background: var(--main-color);
}

#top-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}


































/* KEYFRAMES ANIMATION */
/* 
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
} */